html, body {
  background-color: #ecf0f1;
}

#main {
	margin-left: auto;
	margin-right: auto;

	width: 800px;
}

.preview {
  background-color: white;
  height: 400px;
}

#input_text {
  height: 50px;
  width: 800px;
  background-color: #34495e;
  font-size: 0px;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
}

#input_text input {
  background: transparent;
  padding-left: 15px;
  width: 700px;
  outline:none;
  font-size: 30px;
  line-height: 30px;
  border: none;
  padding-top: 5px;
  letter-spacing: 1px;
  color: white;
  vertical-align: middle;

  display: inline-block;
}
#input_text button {
  height: 100%;
  width: 100px;
  color: white;
  font-size: 30px;
  border: none;
  vertical-align: top;
  background-color: #7f8c8d;
  cursor: pointer;

  display: inline-block;
}
#input_text button:hover {
  background-color: #888888;
}
::-webkit-input-placeholder {
  color: white;
}
#top {
  height: 60px;
  width: 800px;
  margin-bottom: 20px;
  margin-top: 20px;
}
#header {
  width: 300px;
  height: 60px;
  line-height: 60px;
  float: left;
  background-color: #34495e;
  padding-left: 20px;
  }

#header h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  margin-top: 0;
  font-size: 30px;
}

.share {
  width: 200px;
  float: right;
  height: 60px;
  background-color: #34495e;
  padding-top: 13px;
  text-align: center;
}


#fonts {
  margin-left: 3px;
  margin-bottom: 20px;
}
.font {
  margin-top: 20px;
  height: 150px;
  width: 125px;
  background: white;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}

.text {
  height: 125px;
  line-height: 125px;
  font-size: 50px;
  text-align: center;
}

.text:hover {
  background-color: #7f8c8d;
}
.font_title {
  height: 25px; 
  background: #34495e;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  line-height: 25px;
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;

}

#times {
  font-family: 'Times New Roman';
}

#arial {
  font-family: 'Arial';
}

#helvetica {
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
  text-decoration: none;
  margin-left: 4px;
  margin-right: 4px;
}


