html, body {
  background-color: #ecf0f1;
}

#main {
	margin-left: auto;
	margin-right: auto;

	width: 800px;
}

.preview {
  background-color: white;
  height: 400px;
}

.font.selected {
  background:#bbb;
}

#input_text {
  height: 50px;
  width: 800px;
  background-color: #34495e;
  font-size: 0px;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
}

#input_text input {
  background: transparent;
  padding-left: 15px;
  width: 500px;
  outline:none;
  font-size: 30px;
  line-height: 30px;
  border: none;
  padding-top: 5px;
  letter-spacing: 1px;
  color: white;
  vertical-align: middle;

  display: inline-block;
}
#input_text button {
  height: 100%;
  width: 100px;
  color: white;
  font-size: 30px;
  border: none;
  vertical-align: top;
  cursor: pointer;
  display: inline-block;
}

#axis_x {
  background-color:#7492AF;
}

#axis_y {
  background-color: #849AAF;
}

#start {
  background-color: #11273d;
}
#input_text button:hover {
  background-color: #bdc3c7;
}
::-webkit-input-placeholder {
  color: white;
}
#top {
  height: 60px;
  width: 800px;
  margin-bottom: 30px;
  margin-top: 20px;
}
#header {
  width: 300px;
  height: 60px;
  line-height: 60px;
  float: left;
  background-color: #34495e;
  padding-left: 20px;
  }

#header h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  margin-top: 0;
  font-size: 30px;
}

.share {
  width: 300px;
  height:50px;
  background-color: #34495e;
  padding-top: 9px;
  text-align: center;
  display: inline-block;
  background-color: #11273d;
  margin-left: -2px;
}


#fonts {
  margin-left: 3px;
  margin-bottom: 30px;
}
.font {
  margin-top: 20px;
  height: 150px;
  width: 125px;
  background: white;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}

.text {
  height: 125px;
  line-height: 125px;
  font-size: 50px;
  text-align: center;
}

.text:hover {
  background-color: #7f8c8d;
}
.font_title {
  height: 25px; 
  background: #34495e;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  line-height: 25px;
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;

}

#times {
  font-family: 'Times New Roman';
}

#arial {
  font-family: 'Arial';
}

#helvetica {
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
  text-decoration: none;
  margin-left: 4px;
  margin-right: 4px;
}

.form-group {
   font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   height: 200px;
   width: 350px;
   display: inline-block;
}

.form-group#primary {
  background-color: #3f6375;
  margin-right: 50px;
  margin-left: 23px;
  margin-bottom: 30px;
}

.form-group#secondary {
  background-color: #b85dd4;
}

.form-group label {
  padding-left: 20px;
  position: relative;
  top: 10px;
  color: white;
}


#render {
  height: 50px;
  width: 300px;
  color: white;
  font-size: 30px;
  border: none;
  vertical-align: top;
  cursor: pointer;
  display: inline-block;
  background-color: #34495e;
  margin-left: 100px;
  margin-bottom: 50px;
  margin-right: -2px;
}

#render:hover, .share:hover {
  background-color: #7f8c8d;
}
.ui-progressbar {
    position: relative;
    margin-bottom: 30px;
  }
  .progress-label {
    position: absolute;
    left: 45%;
    top: 4px;
    font-weight: bold;
  }

  #progressbar .ui-progressbar-value {
    background-color:  #34495e;
  }
